@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Jim+Nightshade&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Resetear */
* {
    padding: 0;
    margin: 0;
}
/* Body Styles */
body {
    font-family: "Roboto Slab", serif;
    background-color: #B88E8D;
    color: #000000;
}
/* Titulos */
h1, h2, h3 {
    color: #9C0D38  
}
h1 {
    font-weight: 900;
    font-size: 2rem;
}
h2 {
    font-weight: 500;
    font-size: 1.5rem;
}
h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #DD0426;
}
/* Parrafo */
p {
    font-size: 1rem;
    font-weight: 400;
}
/* Imagenes */
figure img {
    height: auto;
    width: 30rem;
}
.primg {
    height: auto;
    width: 7rem;
}
section a figure img {
    height: auto;
    width: 2rem;
}
/* Links */
a {
    text-decoration: none;
    color: #F2F2F2;
}